.container {
  width: 100%;
  height: 126px;

  margin-top: 48px;

  background: var(--background);
}

.content {
  height: 126px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    color: #fff;
    font-size: 12px;
    line-height: 16px;
  }
}
